{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    ["inline-json-import"]
  ],
  "env": {
    "testing": {
      "presets": [
        "@babel/preset-env"
      ]
    }
  }
}