.selection-bar-wrapper {
	max-width: 35vw;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.selection-bar img {
	width: 5vw;
	/*paddings: 5px;*/
	/*border: 1px solid black;*/
	border-radius: 50px;
	margin: 3px;
	display: block;
}

.selected {
	border: 2px solid red;
}

.not-selected {
	border: 2px solid black;
}

.imgBlock {
	display: inline-block;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}